<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Cabecalho")
    @await Html.PartialAsync("_Script")
</head>
<body>
    <header>
        

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    @await Html.PartialAsync("Headerbar")
                </div>
            </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Filmeries - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
