<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Cabecalho")
    @await Html.PartialAsync("_Script")
</head>
<body class="fundobody text-white">
    <div>
        <header>


            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom  mb-3">
                <div class="container ">
                    @await Html.PartialAsync("Headerbar")
                </div>
            </nav>

        </header>
        <div >
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer">
 
                &copy; 2020 - Filmeries - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
     
        </footer>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
