@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Site onde vc poderá avaliar e descobrir quais são os filmes mais procurados da atualidade</p>
</div>
